<nav id="mainNav" class="header navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="1" data-offset-bottom="0">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <div class="branding">
          <div class="logo">
            <span aria-hidden="true" class="icon_documents_alt icon"></span>
            <span class="text-highlight">Teacher's</span><span class="text-bold">Den</span>
          </div>
        </div><!--//branding-->
        <ol class="breadcrumb">
          A wise teacher makes learning a joy
        </ol>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <%= header_nav_link "Accueil", "/" %>
        <%= header_nav_link "Colles", "/colles" %>
        <%= header_nav_link "Informations", "/informations" %>
        <%= header_nav_link "Téléchargements", "/downloads" %>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
