/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "normalize.scss";
@import "prettydocs.scss";

@media(min-width:768px) {
  .navbar-default {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    top: 0px;
    /* Add additional styles here for the UNCOLLAPSED state */
  }
  .navbar-default.affix {
    padding: 0;
    width: 100%;
    /* Add additional styles here for the COLLAPSED state */
    .breadcrumb {
      display: none;
    }
  }
}

@media(max-width: 768px) {
  .header {
    padding: 10px 0;
  }

  .navbar-header {
    height: 68px;
  }
}

.navbar-default.affix-bottom {
  width: 100%;
  top: 0 !important;
}

.breadcrumb {
  font-size: 13px;
}

#doc-menu.affix {
  top: 135px;
}
