<div id="doc-header" class="doc-header text-center">
  <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> Colles</h1>
  <div class="meta"><i class="fa fa-clock-o"></i> Last updated: Jan 25th, 2016</div>
</div><!--//doc-header-->
<div class="doc-body">

  <div class="doc-sidebar hidden-xs">
    <nav id="doc-nav">
      <ul id="doc-menu" class="nav doc-menu" data-spy="affix">
        <li><a href="#colles-section" class="scrollTo">Les colles d'Août</a></li>
      </ul><!--//doc-menu-->
    </nav>
  </div><!--//doc-sidebar-->
  <div class="doc-content">
    <div class="content-inner">
      <section id="colles-section" class="doc-section">
        <h2 class="section-title">Colles d'Août</h2>
        <div class="section-block">
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Date de mise en ligne</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                  <% @documents.each do |document| %>
                    <tr>
                      <th scope="row"><%= document.id %></th>
                      <td>Name of doc</td>
                      <td><%= time_ago_in_words document.created_at %></td>
                      <td><a href="" class="btn btn-sm btn-default">Télécharger</a></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
        </div>
      </section><!--//doc-section-->
    </div><!--//content-inner-->
  </div><!--//doc-content-->
</div><!--//doc-body-->
