<div id="doc-header" class="doc-header text-center">
  <h1 class="doc-title"><i class="icon fa fa-paper-plane"></i> <%= gv "infos_title" %></h1>
</div><!--//doc-header-->
<div class="doc-body">
  <%= render partial: "shared/articles" %>
</div><!--//doc-body-->
